/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/*
.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;  
}
 */

/* Dropdown Content (Hidden by Default) */
.injector-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);  
}

/* Links inside the dropdown */
.injector-dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change color of dropdown links on hover */
.injector-dropdown-content a:hover {
	background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* injector paragraph info */
.container p {
  position: relative;
  margin: 20px 0 30px;
  width: 300px;
  text-align: center;
} 
.container h2 {
  text-align: center;
  margin-bottom: 30px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid:required {
  border: 1px solid red;  
}