#patient-holder {
  width: 40%;
  height: 60%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

input:invalid {
  border: 2px solid red;
}

input:invalid:required {
  border: 1px solid red;  
}

